/* -------------------------------------------------------------------------- */
/* Configuration */
/* -------------------------------------------------------------------------- */
:root {
  --upload--padding: 50px;
  --upload--border-radius: 10px;
  
  --upload-background-dim-color: hsla(240, 100%, 50%, 0.025);
  --upload-border-dim-color: hsla(240, 50%, 50%, 0.1);
  
  --upload-border-width: 2px;
  --upload-background-accent-color: hsla(240, 100%, 50%, 0.1);
  --upload-border-accent-color: hsla(240, 50%, 50%, 0.5);


  --error-foreground-color: hsl(0, 100%, 50%);
  --success-foreground-color: hsl(120, 50%, 40%);

  @media (prefers-color-scheme: dark) {
    --success-foreground-color: hsl(120, 50%, 50%);
  }
}

/* -------------------------------------------------------------------------- */
/* Element styles */
/* -------------------------------------------------------------------------- */
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.upload label {
  padding: var(--upload--padding);
  border-radius: var(--upload--border-radius);
  background-color: var(--upload-background-dim-color);
  border: dashed var(--upload-border-width) var(--upload-border-dim-color);
}

.upload label:hover {
  background-color: var(--upload-background-accent-color);
  border: dashed var(--upload-border-width) var(--upload-border-accent-color);
}

.upload input[type="file"] {
  display: none;
}

.success {
  color: var(--success-foreground-color);
}
.error {
  color: var(--error-foreground-color);
}
